body {
    background-color: rgb(175, 234, 220);
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* rgb(4,30,66) */

.__Header {
    background-color: rgb(4, 30, 66);
    color: rgb(175, 234, 220);
    padding: 10px 8px;
    width: 500px;
    text-align: center;
    margin: 50px auto 0 auto;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.__MyListDiv {
    background-color: white;
    width: 500px;
    margin: 0 auto 0 auto;
    /* list-style: none; */
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}

ul {
    list-style: none;
    font-family: 'Gochi Hand', cursive;
}

#__SubmitBtn {
    padding: 0;
    border: 0;
    background: none;
}

#__AddItemBox {
    height: 40px;
    background: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}